@import "./popup.css";
@import "./info.css";
@import "./thumb.css";
@import "./login.css"; 

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=button], button{
    background-color: #195f8b;
    color: white;
    padding: 0.8rem;
    margin: 0;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

input[type=text], input[type=password]
{
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    height: 1rem;
}


div.container.header, div.container.footer{
    position: fixed;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.container.header{
    top: 0;
    height: 6.5rem;
    justify-content: flex-end;
    gap: 0.2rem;
}
div.container.footer{
    bottom: 0;
    height: 4rem;
}

div.container.content{
    width: 100%;
    padding-inline: 0.5rem;
    margin-top: calc(6.5rem + 1rem);
    margin-bottom: calc(4rem + 0.5rem);
}

.input-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 2rem);
    gap: 10px;
}
.input-group label{
    min-width: 5rem;
}

span#back-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1.5rem;
    width: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(189, 203, 211);
    cursor: pointer;
}

span#back-btn:hover{
    background-color: rgb(169, 183, 191);
}

span#randomize-fname-btn{
    position: absolute;
    right: calc(6rem + 1rem + 1rem);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}
span#randomize-fname-btn:hover{
    background-color: rgb(240, 244, 246);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}
span#randomize-fname-btn:active{
    transform: none;
}

input#path{
    padding-left: 3rem;
}

#upload-btn{
    background-color: #195f8b;
    color: white;
    min-width: 6rem;
    margin: 0;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

div#top-bar{
    color: grey;
    display: flex;
    flex-direction: row;
    width: calc(100% - 2rem);
}
div#settings-bar{
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.2rem;
}
div#position-hint{
    cursor: pointer;
    color: rgb(138, 138, 138);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    height: 1rem;
    margin-bottom: 0.25rem;
    font-size: x-small;

    padding: 0.25rem;
    transition: all 0.2s;
}
div#position-hint:hover{
    background-color: rgb(240, 244, 246);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color:rgb(91, 107, 116)
}
div#position-hint span{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}
div#position-hint.disconnected span{
    background-color: red;
}
div#position-hint.connected span{
    background-color: rgb(0, 166, 0);
}

label#bucket-label{
    color: #195f8b;
}

table#files {
    width: 100%;
    border-collapse: collapse;
}
table#files th {
    background-color: #195f8b;
    color: white;
}
table#files th, table#files td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
table#files tr {
    white-space: nowrap;
}
table#files tr:hover {
    background-color: #eaeaea;
    transition: all 0.2s;
}
table#files tr td:nth-child(2), table#files tr td:nth-child(4){
    width: 1%;
}
table#files tr td:nth-child(3), table#files tr td:nth-child(5){
    width: 12%;
}

div.filename-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
label#upload-file-prefix{
    width: 800px;
    text-align: right;
}
input#file-name.duplicate{
    background-color: #ff001511
}

.action-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}
a{
    color: #195f8b;
    text-decoration: none;
}
.action-container a{
    padding: 0.2rem;
    padding-inline: 0.5rem;
    border: 1px solid #195f8b;
    border-radius: 0.25rem;
    color: #195f8b;
    transition: all 0.2s;
}
.action-container a:hover{
    background-color: #195f8b;
    transform: scale(1.1);
    color: white;
}

.delete-btn{
    color: darkred !important;
}
.delete-btn:hover{
    color: white !important;
    background-color: #990511c7 !important;
}

button{
    transition: all 0.2s;
}
button:hover {
    transform: scale(1.05);
}
button:active {
    transform: scale(0.95);
}